.weekpicker {
    padding: 4px;
    line-height: 22px;
}

.weekpicker .head td, .weekpicker td.span0, .weekpicker .calendar .span1 {
    color: #000;
    font-weight: bold;
}

.weekpicker .week-nav {

}

.weekpicker .week-nav .prev, .weekpicker .week-nav .next {
    cursor: pointer;
}

.weekpicker .calendar {

}

.weekpicker .calendar td {
    padding: 5px;
    text-align: center;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.weekpicker .calendar td.month-col {
    vertical-align: top;
}

.weekpicker .week .box0, .weekpicker .week .box1 {
    cursor: pointer;
}

.weekpicker .week-label {
    width: 20px;
    padding: 0 5px;
    font-weight: bold;
}

.weekpicker .calendar .box0 {
    color: #ccc;
}

.weekpicker .calendar .box1 {
    background-color: #fff;
}

.weekpicker td.span0, .weekpicker .calendar .span1 {

}

.weekpicker .calendar .box0, .weekpicker .calendar .box1 {

}

.weekpicker .highlighted .box0, .weekpicker .highlighted .box1 {
    background: #eee;
}

.weekpicker .selected .box0,
.weekpicker .selected .box1 {
    background-color: #428bca;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}