.weekpicker {
    padding: 4px;
    line-height: 25px;
    width: 250px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.weekpicker .controls {
    line-height: 35px;
    text-align: center;
    font-weight: bold;
}

.weekpicker .controls .prev,
.weekpicker .controls .next {
    height: 35px;
    width: 30px;
    font-size: 21px;
    border-radius: 4px;
}

.weekpicker .controls .prev:hover,
.weekpicker .controls .next:hover {
    background: #eee;
    cursor: pointer;
}

.weekpicker .controls .prev {
    float: left;
}

.weekpicker .controls .next {
    float: right;
}

.weekpicker .weekpicker-days {
    margin-top: 5px;
}

.weekpicker .weekpicker-days table {
    width: 100%;
}

.weekpicker .weekpicker-days td {
    text-align: center;
}

.weekpicker .weekpicker-days tr td:first-child {
    border-radius: 4px 0 0 4px;
}

.weekpicker .weekpicker-days tr td:last-child {
    border-radius: 0 4px 4px 0;
}

.weekpicker .weekpicker-days td.prev,
.weekpicker .weekpicker-days td.next {
    color: #999;
}

.weekpicker .weekpicker-days tr.selected td {
    background-color: #428bca!important;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.weekpicker .weekpicker-days tr.selected .prev,
.weekpicker .weekpicker-days tr.selected .next {
    color: #eee;
}

.weekpicker .weekpicker-days tr.enabled:hover td {
    background-color: #eee;
    cursor: pointer;
}

.weekpicker .weekpicker-days tr.disabled {
    cursor: not-allowed;
}